<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/signup.css" />
  <title>Sign Up</title>
</head>

<body>
  <div class="overlay">
    <form action="/login">  
    <div class="color-theme">
        <button type="button" class="theme"></button>
        <button type="button" class="reset"></button>
      </div>
      <div class="con">
        <!--    Опис  -->
        <header class="head-form">
          <h2>Реєстрація</h2>
        </header>
        <!-- <br /> -->
        <div class="field-set">
          <!-- Нікнейм -->
          <input class="form-input" id="txt-input-name" type="text" placeholder="Введіть ім’я" required />
          <input class="form-input" id="txt-input-surname" type="text" placeholder="Прізвище (необов’язково)" />
          <div class="pswd-field">
            <!--   Пароль  -->
            <input class="form-input" id="password" type="password" placeholder="Придумайте пароль" name="password"
              required />

            <!--      Кнопка схову/появи пароля  -->
            <i class="fa fa-eye" aria-hidden="true" id="eye">Показати</i>
          </div>
          <input class="form-input" id="login" type="email" placeholder="Електронна пошта" required />


          <button id="sign-up-button" class="log-in button">Зареєструватися</button>
        </div>

        <!--   Забули пароль / зареєструватися -->
        <div class="other">
          <a href="../templates/html/login.html" class="button submits sign-up">Я вже зареєстрований</a>
        </div>

      </div>
    </form>
  </div>
  <script src="../js/sign-up.js"></script>
  <script src="../js/theme.js"></script>
</body>

</html>